.pad{padding-left: 0;
    padding-right: 0;}
.iconsize {
  font-size: 27px;
  margin: 15px;
}
.row1 {
  padding-left: 30px;
  width: 250px;
}
.row2 {
  box-shadow: 0 2px 10px #d4d4d4;
  margin-bottom: 20px;
}
.f1 {
  text-align: center;
  font-size: 24px;
  color: red;
}
.f2 {
  border-bottom: 2px solid;
  font-size: 18px;
  font-weight: 400;
  margin-top: 30px;
}
.tit1 {
  margin-top: 30px;
  margin-bottom: 7px;
}
.inp1 {
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #ccc;
  box-shadow: none;
}
.xing1 {
  display: inline-block;
  color: red;
}
.tit2 {
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 13px;
}
.tit3 {
  margin-top: 30px;
  margin-bottom: 0px;
  font-size: 18px;
}
.form2 {
  box-shadow: 0 2px 2px #ccc;
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.grp1 {
  border-bottom: 2px solid rgba(204, 204, 204, 0.253);
}
.grp1 .inp1 {
  border: none;
}
.grp1 label {
  margin-top: 6px;
}
.form3 {
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  box-shadow: 0 1px 2px #ccc;
  margin-top: 20px;
  margin-bottom: 20px;
}
.rely{margin-top: 30px;
margin-bottom: 20px;}
.arti{
    margin-top: 50px;

}
.ar-tit{text-align: center;font-size: 18px;
    font-weight: 600;}
.ar-line{text-indent: 30px;}
.cname{
    height: 140px;
    line-height: 140px;
    text-align: center;
    background-color: rgb(211, 211, 211);
}
.arti2{
    margin-bottom:50px
}
.ar-line2{font-weight: 800;
    font-size: 13px;}
.final{
    height: 40px;
    background-color: rgb(236, 236, 236);
    line-height: 40px;
    font-size: 15px;
    border-radius: 10px;
    padding-left: 10px;
    margin-bottom: 100px;
}
.arti3{
    padding-left: 15px;
    padding-right: 15px;
}
.sub{
    height: 40px;
    background-color: #2B8CF5;
    line-height: 40px;
    font-size: 15px;
    border-radius: 2px;
    padding-left: 10px;
    color: #fff;
    text-align: center;
    letter-spacing: 10px;
}